$hvr-btn-link: #4bcaff;


.about-link {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.about-link__text {
    width: 575px;

    margin: 5px 0 0 0;

    line-height: 1.78;
    font-size: 14px;
    font-weight: normal;
}

.about-link__list {
	display: flex;
	justify-content: space-between;

    list-style: none;
    
    width: 317px;

    margin-top: 30px;
    margin-right: 253px;
    padding: 0;
}

.about-link__item {
    
    a{
        padding: 17px 16px 11px 16px;
        border: 2px solid #fff;

        font-size: 24px;
    
        transition: .2s;
    }

    &--twitter {
        width: 28px;
        height: 22px;
    }
    
    &--google {
        width: 28px;
        height: 29px;
    }
    
    &--dribbble {
        width: 26px;
        height: 27px;
    }
    
    &--coffee {
        width: 31px;
        height: 24px;
    }
}

@media screen and (min-width: 1200px) {

	.about-link__list a:hover {
		padding: 17px 16px 11px 16px;
        border: 2px solid #fff;
        
        background-color: $hvr-btn-link;
	}
}

@media screen and (max-width: 1200px) {
    
    .about-link {
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .about-link__text {
        margin-bottom: 40px;

        text-align: center;
    }
    
    .about-link__list {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {

    .about-link__list {
        width: 300px;
    }

    .about-link__text {
        width: 300px;
        margin: 0 0 40px 0;
    }
}
