.fieldset {
    padding: 0;

	border: none;
}

.fieldset__label {
    display: block;

    margin: 0;
    
    color: #fff;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.fieldset__input--name {
	width: 465px;
    height: 52px;
    
    margin-top: 4px;
	margin-bottom: 35px;

    border: 2px solid #fff;
    
    background-color: transparent;
    color: #fff;

	font-size: 24px;
	font-weight: normal;
}

.fieldset__input--email {
	width: 465px;
    height: 52px;
    
    margin-top: 4px;
	margin-bottom: 20px;

    border: 2px solid #fff;
    
    background-color: transparent;
    color: #fff;

	font-size: 24px;
	font-weight: normal;
}

@media screen and (max-width: 1200px) {

    .fieldset {
        margin: 0 auto;
    }
    
    .fieldset__input--name {
		width: 296px;
		height: 40px;

		font-size: 18px;
	}	

	.fieldset__input--email {
		width: 296px;
		height: 40px;

		font-size: 18px;
	}
}
