$top-color: #515f67;
$background-color: rgba(53, 63, 70, 0.85);
$font-light: "SegoeUI Light", "Arial", sans-serif;

.header {
	padding-bottom: 260px;

	background: $top-color url(../img/first-bg.jpg) no-repeat center top / cover;
}


.header__top-panel {
	margin-bottom: 237px;
	padding-top: 45px;
	padding-bottom: 50px;

	background-color: rgba(0, 0, 0, 0.5);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1170px;

	margin: 0 auto;
}


.header__logo {
	width: 127px;
	height: 23px;
}

.header__title {
	display: flex;
	flex-wrap: wrap;

	width: 1170px;

	margin: 0 auto;

	font-family: $font-light;
	font-size: 42px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.header__title-part {
	background: $background-color;

	line-height: 1.4;

	&--first {
		margin: 12px auto;
		padding: 1px 15px 6px 22px;	
	}

	&--second {
		margin: 0 auto;
		padding: 0px 19px 7px 17px;
	}
}

@media screen and (max-width: 1200px) {

	.header {
		padding-bottom: 140px;
	}

	.header__top-panel {
		margin-bottom: 150px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.header__navbar {
		flex-direction: column; 

		width: 580px;
	}

	.header__title {
		flex-wrap: wrap;

		width: 580px;

		font-size: 28px; 
	}

	.header__title-part {
		margin: 0 auto; 
	}
}

@media screen and (max-width: 640px) {

	.header__top-panel {
		padding: 25px 0 0 0;
	}

	.header__navbar {
		flex-direction: column; 

		width: 300px;
		margin: 0 auto;
	}

	.header__title {
		flex-wrap: wrap;

		width: 300px;

		font-size: 28px; 
	}

	.header__title-part {
		margin: 0 auto; 
	}
}
